<div class="middleRight">
    <p>EMAIL VALIDATOR > API CALLBACK STATUS</p>
</div>

<div class="mainContainer">
    <div class="divOne">
        <p>Send file API <b>Callback Status.</b></p>
        <p>When using the optional Return URL Parameter on the Send File method of the <a href="">Email Validation API</a> or <a href="">AI Scoring API</a>, 
            you can use this page to troubleshoot or verify that the callback happened to your return URL.</p>
    </div>
    <div class="divTwo">
      <table style="width:100%;">
        <tr>
          <th colspan="6" style="border-top:solid 1px lightgrey;border-left:solid 1px lightgrey  ;text-align: right;" ><a href="">Refresh</a> </th>
        </tr>
        <tr class="top">
          <th>RESULT</th>
          <th>RETURN URL</th>
          <th>TYPE</th>
          <th>FILE NAME</th>
          <th>DATE/TIME</th>
          <th>WEBHOOK</th>
      
        </tr>
         <!-- <tr class="data">
          <td style="border-left:solid 1px lightgrey ;" >my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
         
         </tr>
         <tr class="data">
          <td style="border-left:solid 1px lightgrey ;" >my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          
         </tr> -->
         <tr > <td colspan="6" style="border-bottom:solid 1px lightgrey;border-left:solid 1px lightgrey  ;text-align: left;" > You have no active return URL data from our send file 
            Email Validation or AI Scoring Uploads.
        </td></tr>
  
  
      </table>
    </div>
  </div>
