<div class="middleRight">
    <p>AI EMAIL SCORING > DOWNLOAD YOUR FILE</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p> Welcome to your <b>A.I. Email Confidence Scoring Results.</b></p>
        <p>What should you expect from the ZB A.I. results?</p>
        <div>
            <p>Our A.I will score your emails form 0-10.</p>
            <p>Visit this link <a href="">to learn how to use the scoring system.</a> </p>
        </div>
        <p>To download the results of an email link simply click on the File Name but not
             before ZeroBounce A.I. finishes the scoring.
        </p>
        
    </div>
    <div id="viewDiv">
        <button>View historical usage</button>
    </div>
    <div class="divTwo">
        <div class="top">
            <p>FILENAME</p>|
            <p>STATUS</p>|
            <p>UPLOADDATE</p>|
            <p>TOTAL</p>|
            <p>VALID INVALID</p>|
            <p>CATCH ALL</p>|
            <p>SPAMTRAP</p>|
            <p>ABUSE</p>|
            <p>DO NOT MAIL</p>|
            <p>UNKNOWN</p>|
            <p>DELETE</p>


        </div>
        <div class="bottom">
            <p>--No records to display--</p>
        </div>
        <p style="color:red ;font-size:10px;padding-top: 10px;">*All files older than 30 days will be automatically deleted</p>

    </div>
    
</div>
