
.divOne{
    display: flex;
    justify-content: right;
    gap: 20px;
    background-color: #1C1F4C;
    color: white;
    padding: 15px 30px;
}
.divTwo{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}
.logoIcon{
    height: 50px;
}
.navLinks{
    display: flex;
    gap: 20px;
}
.navLinks mat-icon{
    display: none;
}
.navList{
    display: flex;
    gap: 15px;
    align-items: center;
    position:sticky;

}
.navList li{
    list-style-type: none;
}
.navList li a{
    color:black;
    text-decoration: none;
}
.navList li a:hover{
    color: grey;
    text-decoration: #1C1F4C;
}
.navList li button{
    height: 30px;
    width: 100px;
    background-color: #1C1F4C;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.divThree{
    width: 100%;
    height: 600px;
}
.divThree img{
    width: 100%;
    height: 100%;
}
.divFour{
    display: flex;
    padding: 100px 100px 50px 100px;
    width: 80%;
    height: fit-content;
    gap: 60px;


}
.leftFour{
    width: 50%;
}
.leftFour img{

    width: 100%;

}
.rightFour{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
}
.about, .products{
    font-size: 35px;
    color: #1C1F4C;
}
.line{
    width: 15%;

}

.productsTop,.pricingTop{
    display: flex;
    flex-direction: column;
    align-self: center;
}

i{
    font-size: 200px;
}
.productIcon{
    width: 50px;

}
.productIcon1{
    width: 40px;

}
.divFive{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.productGrids{
    display: grid;
    grid-template-columns: repeat(3 400px);
    grid-template-areas: "a b c"
    "d e f";
    justify-content: center;
    column-gap: 40px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.a,.b,.c,.d,.e,.f{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;
    /* width: auto; */
   
   
}


.productTitle{
    font-weight: 500;
    font-size: 22px;
    color: #4C4C4E;
}
.productDesc{
    font-size: 16px;
    text-align: center;
    color: #979797;
    
}
.divSix{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1C1F4C;
    color: white;
    height: 400px;
    background: url("../../../../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    font-size: 25px;
    line-height: 30px;
}

.divSix img{
    
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
} 
.divSeven{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: whitesmoke;
    padding: 80px;
}
.lineP{
    width: 40%;
}

.pTag{
    background-color: #1C1F4C;
    padding: 30px 35px;
    border-radius: 50%;
}
.pTag img{
    height: 50px;
  
}
.pricingTitle{
    font-size: 40px;
    color: lightgrey;
}
.pricingDesc{
    color: grey;
    font-size: 30px;
}
.pricingInputs{
    display: flex;
    gap: 50px;
    
}
.pricingInputOne, .pricingInputTwo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: darkgray
}
.pricingInputOne::placeholder,.pricingInputTwo ::placeholder{
    color: black;
    font-weight: bold;
    text-align: center;
}
.pricingInputOne label, .pricingInputTwo label {
    font-size: 10px;
}
.pricingInputOne input, .pricingInputTwo input {
  background-color: white;
  border: solid 0.1px lightgray;
  height: 40px;
  width: 350px;
  padding: 10px;
  outline: none;
}
.divEight{
    display: flex;
    color: white;
    height: fit-content;
}
.contactUs{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:#1C1F4C;
    height: auto;
    align-items: center;
    padding: 40px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    padding: 40px;
   
}
.contactForm input {
    color: white;
    background-color:#1C1F4C;
    width: 400px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: solid 2px white;
}
.nameInput, .emailInput{
    height: 50px;

}
.messageInput{
    height: 200px;
}
.contactForm button{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #1C1F4C;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    
}

.locationMap{
    width: 50%;

}
.divNine{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.divTen{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

@media screen and (max-width:1436px) {
    .productGrids{
        column-gap: 0px;
    row-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    

   
    }
    .a,.b,.c,.d,.e,.f{
        width: 350px;
        gap: 20px;
    }
    .divNine{
        padding:25px;
        align-items: center;
    }
   
    
}
@media screen and (max-width:1190px){
    .pricingDesc{
font-size: 20px;
    }
    .divThree{
        height: 500px;
    }
}
@media screen and (max-width:1062px){
    .rightFour{
        line-height: normal;
        gap: 10px;

    }
    .divFive{
        padding: 50px;
    }
    .about,.products,.pricingTitle{
        font-size: 25px;
    }

.contactForm{
    
    padding: 40px 0px;
}


.divFive{
    gap: 40px;
}
}
@media screen and (max-width:926px) {
    .navLinks mat-icon{
        display: block;
        font-size: 30px;
    }
    .navList{
        display: none;
    }
    .contactForm input{
    
        width: 300px;
    }
    .divFive{
        gap: 30px;
    }
    .divNine{
        padding:20px;}
}

@media screen and (max-width:922px){
    .a,.b,.c,.d,.e,.f{
        width: 100%;
        
    }
    .divThree{
        height: 450px;
    }
    .divFive{
        gap: 20px;
    }
    .leftFour img{
        
        width: 100%;
     
    }
    .leftFour{
        width:auto;
    }
    .rightFour
    {
        width: auto;
        line-height: 25px;
       
        
        
    }
    .aboutTop{
        display: flex;
        flex-direction: column;
        align-self: center;

    }
    
   
    .rightFour br{
        display: none;
    }
    .divFour{

        padding: 50px ;
        width: auto;
        gap: 40px;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:834px){
    .pricingDesc br{
        display: none;
        
    }
    .pricingDesc{
        font-size: 18px;

    }
    .divSeven{
        padding: 70px 30px;
    }
    .pricingInputOne input, .pricingInputTwo input{
        width: 300px;
        height: 20px;
    }
    .pricingInputs{
        gap: 25px;
    }
    .divEight{
        flex-direction: column;
       
    }
    .contactUs{
        width: auto;
    }
    .locationMap{
        width: auto;
        
    }
    .divNine{
        padding:14px;}
        .divThree{
            height: 430px;
        }
}
@media screen and (max-width:734px) {
    .pricingDesc{
        font-size: 18px;
        text-align: center;
        line-height: 25px;

    }
    .divThree{
        height: 420px;
    }
    
}
@media screen and (max-width:700px){
    .pricingInputs{
        flex-direction: column;
        align-items: center;
    }
    .divNine{
        padding:10px;}
        .divThree{
            height: 380px;
        }
        .messageInput{
            height: 100px;
        }
        .divThree{
            height: 400px;
        }

}
@media screen and (max-width:500px){
    .divThree{
        height: 300px;
    }
    .divTwo{

        padding: 20px}
        .logoIcon{
            height: 30px;
        }
        .divOne{
            justify-content: center;
            gap: 10px;
            padding: 15px;
        }
        .divSix{
            font-size: 16px;
            height: 350px;

        }
        .productTitle{
            font-size: 18px;
        }
        .productDesc{
            font-size: 15px;
        }
        .pricingDesc{
            font-size: 16px;
        }
        .divThree{
            height: 380px;
        }

}
@media screen and (max-width:434px){
    .divFive{
        padding: 20px;
      
    }
    .a,.b,.c,.d,.e,.f{
        padding: 10px ;
        width: auto;
    }
    .productGrids{
        gap: 30px;
    }
    .messageInput{
        height: 80px;
    }
    .divThree{
        height: 300px;
    }

}