<div class="middleRight">
  <p>DELIVERABILTY TOOLS > BLACKLIST MONITORING</p>
</div>
<div class="mainContainer">
  <div class="firstDiv">
    <div class="divOne">
      <p>Welcome To The <b>Blacklist Monitoring.</b></p>
      <p>
        Using our Blacklist Monitoring service will allow you to verify your status
        with over 200 different blacklists. And if your domain/IP is flagged
         you'll know which blacklisting company to contact about being delisted around the world and quickly check to see the placement of that email.
      </p>
      <p>To ensure complete coverage, we recommend that you monitor both your domain and IP address. Unsure of what your domain IP address is? <a href="https://toolbox.googleapps.com/apps/dig/">Use Google's free DNS tool here</a></p>
    </div>
    <p style="background-color: #dfe1e8; padding: 10px 30px;margin:0;cursor: pointer;" (click)="showSteps()">
      <b >Click to see the steps to begin monitoring a domain or IP.</b>
    </p>
    <div class="divOne" *ngIf="toggled" >
      <div>
       <p> <i> 1. Click to "Add New Monitor".</i></p> 
       <p>  <i>2. You will be prompted to enter a domain or IP to monitor, which contact list will receive the alerts, and if any notes are needed.</i></p>
       <p> <i>3. Once you are satisfied with the settings, click "Add" to create the monitoring alert.</i></p>
      </div>
      <p style="color: black;">For further information about our Blacklist Monitoring service and how to properly protect 
        your domain/IP address, be sure to visit our <a href="">documentation page.</a> </p>
        <p  style="color: black;"><b>Note:</b> By default our alarm system will notify you when your domain or IP has been initially  scanned, then, 
          only if the status of your domain/IP has changed, i.e. it was added to a blacklist or delisted from one. The number of blacklists we check 
          against will flactuate. 
          To ensure proper monitoring, please make sure to monitor your domain, IPv4 and IPv6 addresses.
        </p>
      
    </div>
  </div>
  <div class="buttons"> <button class="upgradeBtn" routerLink="/user/dashboard/tools-subscription">Upgrade</button>
    <button class="activateBtn" routerLink="/user/dashboard/tools-subscription">Activate freemium plan</button></div>
    <div class="secondDiv">
        <div style="background-color: #dfe1e8; padding: 10px 30px;text-align: center;">
            <p >
                <b>YOU ARE CURRENTLY OUT OF BLACKLIST MONITORS-CLICK ON THE UPGRADE BUTTON TO ADD MORE MONITORS.</b>
              </p>
        </div>
        
           
    <div class="divTwo" style="overflow-x: auto;">
        <table>
          <tr class="top">
            <th>DOMAIN/IP</th>
            <th>SEND ALERTS TO</th>
            <th>LAST SCANNED</th>
            <th>REPORT</th>
            <th>NOTES</th>
            <th>CREATED BY</th>
            <th>STATUS</th>
            <th>VIEW RESULT</th>
            <th>DELETE</th>
          </tr>
           <tr class="data">
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td><mat-icon>visibility</mat-icon></td>
            <td><mat-icon>delete</mat-icon></td>
           </tr>
           <tr class="data">
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td><mat-icon>visibility</mat-icon></td>
            <td><mat-icon>delete</mat-icon></td>
           </tr>


        </table>
        <!-- <div class="bottom">
            <p>--No records to display--</p>
        </div> -->
        <p style="color:red ;font-size:10px;padding-top: 10px;">*All files older than 30 days will be automatically deleted</p>

    </div>

    </div>
</div>
