<div class="middleRight">
  <p>DELIVERABILTY TOOLS > BLACKLIST MONITORING</p>
</div>
<div class="mainContainer">
  <div class="firstDiv">
    <div class="divOne">
      <p>Welcome To The <b>Blacklist Monitoring.</b></p>
      <p>
        Using our Blacklist Monitoring service will allow you to verify your status
        with over 200 different blacklists. And if your domain/IP is flagged
         you'll know which blacklisting company to contact about being delisted around the world and quickly check to see the placement of that email.
      </p>
      <p>To ensure complete coverage, we recommend that you monitor both your domain and IP address. Unsure of what your domain IP address is? <a href="https://toolbox.googleapps.com/apps/dig/">Use Google's free DNS tool here</a></p>
    </div>
    <p style="background-color: #dfe1e8; padding: 10px 30px">
      <b>Click to see the steps to begin monitoring a domain or IP.</b>
    </p>
  </div>
  <div class="buttons"> <button class="upgradeBtn">Upgrade</button>
    <button class="activateBtn" routerLink="/user/dashboard/tools-subscription">Activate premium plan</button></div>
    <div class="secondDiv">
        <div style="background-color: #dfe1e8; padding: 10px 30px;text-align: center;">
            <p >
                <b>YOU ARE CURRENTLY OUT OF BLACKLIST MONITORS-CLICK ON THE UPGRADE BUTTON TO ADD MORE MONITORS.</b>
              </p>
        </div>
        
           
    <div class="divTwo">
        <div class="top">
            <p>DATE</p>|
            <p>FROM</p>|
            <p>SUBJECT</p>|
            <p>WARNINGS</p>|
            <p>CRITICAL</p>|
            <p>VIEW RESULT</p>|
            <p>DELETE</p>


        </div>
        <div class="bottom">
            <p>--No records to display--</p>
        </div>
        <p style="color:red ;font-size:10px;padding-top: 10px;">*All files older than 30 days will be automatically deleted</p>

    </div>

    </div>
</div>
