.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.divThree{
    display: flex;
    width: 80%;
    gap: 100px;
    /* justify-content: center; */
    align-self: center;
    

}

.left,.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    align-content: space-around;
    height: 250px;
    padding: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
    font-weight: bold;
    font-size: 16px;
}
.desc{
    text-align: center;
}
.left img{
    width: 40%;

}
.right img{
    width: 30%;
    height: 40%;
}
button{
    background-color: #1E214E;
    padding: 10px;
    color: white;
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: auto;
    
    
}