<div class="middleRight">
    <p>ACCOUNT OPTIONS > MANAGE USERS</p>
  </div>
  
  <div class="mainContainer">
    <div class="divOne">
      <p >
       Manage <b>Users</b>
      </p>
      <div>
        <p>Invite users to your team account. You can assign a role for each user.
        </p>
        <p>To learn more, read our instructions: <a href="" style="color: #6A95F6;text-decoration:none">Team Account.</a></p>
      </div>
      
    </div>
    <div class="divTwo">
        <p style="text-align: right;"> <span>1</span>  out of <span>10</span> Team Members used.</p>
      <table>
        <tr>
          <th colspan="4" style="border-left:solid 1px lightgrey ;border-top:solid 1px lightgrey;color: black;cursor: pointer;text-align: left;" >+ Add new Key</th>
          <th colspan="4" style="border-top:solid 1px lightgrey ;text-align: right;" ><a href="">Refresh</a> </th>
        </tr>
        <tr class="top">
          <th>EMAIL ADDRESS</th>
          <th>ROLE</th>
          <th>INVITATION SENT BY</th>
          <th>INVITATION SENT DATE</th>
          <th>INVITATION CONFIRMED DATE</th>
          <th>EDIT</th>
          <th>DELETE</th>
          <th>ACTION</th>
        </tr>
         <tr class="data">
          <td style="border-left:solid 1px lightgrey ;" >my data</td>
          <td>my data</td>
          <!-- <input type="text"> -->
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td> <mat-icon>edit</mat-icon> </td>
          <td><mat-icon>delete</mat-icon></td>
          <td>my data</td>
         </tr>
         <!-- <tr class="data">
          <td style="border-left:solid 1px lightgrey ;" >my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td>my data</td>
          <td> <mat-icon>edit</mat-icon> </td>
          <td><mat-icon>delete</mat-icon></td>
         </tr> -->
  
  
      </table>
    </div>
  </div>
  