.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divTwo{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    
}
.divTwo button{
    width: 180px;
    padding: 8px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 400;
   
}
.credit{
    color: grey;
}
.plan{
    color:white;
    background-color: #1E214E;
}
.divThree{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.emailDiv{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.emailDiv input{
    border: none;
    outline: none;
    background-color: white;
}
.emailDiv button{
    border: solid 1px #6A95F6;
    color: #6A95F6;
    height: 40px;
    padding: 10px;
    width: 180px;
    background-color: white;
    outline: none;
}