<div class="middleRight">
    <p>EMAIL VALIDATOR > SINGLE EMAIL VALIDATOR</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p> Welcome to your <b>Single Email Validator</b></p>
        <p>Type in any email address to have it quickly validated or use our bulk email validator 
            to validate large lists with our proven anti-graylist technology to reduce unknowns
        </p>
        
    </div>
    <div class="divTwo">
        <p> You have <b>5</b> available credits </p>
        <button class="credit" routerLink="/user/dashboard/Pay-as-you-go" >Buy credit</button>
        <button class="plan" routerLink="/user/dashboard/tools-subscription">Activate freemium plan</button>

    </div>
    <div class="divThree">
        <p style="font-size:12px;">Email address</p>
        <small *ngIf="f['email'].errors && f['email'].errors['email']">* Please enter a valid email</small> 

        <form class="emailDiv" (ngSubmit)="onSubmit()" [formGroup]="emailForm" >
            <input type="text" placeholder="Please enter email address " formControlName="email">
            <button type="submit">Send</button>
        </form> 
</div>
