<div class="mainDiv">
  <div class="content">
    <div class="leftDiv">
      <div class="divOne">
        <div class="logo">
          <img src="../../../../assets/logo.png" alt="">
        </div>
        <div class="homeIcon">
          <mat-icon class="homeIc" fontSet="material-icons-outlined" routerLink="/home">home</mat-icon>
        </div>
      </div>
      <div class="divTwo">
        <div class="details" routerLink="/auth/register">Personal Details</div>
        <div class="account" routerLink="/auth/details">Included with your free account</div>
      </div>
      <div class="divThree">
        <h3>Get Started</h3>
        <p>No credit card required</p>
      </div>
      <div class="divFour">
        <p>
          Already have an account? <a href="" routerLink="/auth/login">Login</a>
        </p>
      </div>
      <div class="divFive">
        <form
          (ngSubmit)="onRegister()"
          [formGroup]="registerForm"
          class="registerForm"
        >
          <input
            type="text"
            placeholder="First and Last Name"
            formControlName="fullname"
          >
          <small
            *ngIf="
              f['fullname'].touched &&
              f['fullname'].errors &&
              f['fullname'].errors['required']
            "
            >* First and Last Names are required</small
          >
          <input type="text" placeholder="Email" formControlName="email" >
          <small
            *ngIf="
              f['email'].touched &&
              f['email'].errors &&
              f['email'].errors['required']
            "
            >* Email is required</small
          >
          <small *ngIf="f['email'].errors && f['email'].errors['email']"
            >* Please enter a valid email</small
          >
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          >
          <small
            *ngIf="
              f['password'].touched &&
              f['password'].errors &&
              f['password'].errors['required']
            "
            >* Password is required</small
          >
          <small
            *ngIf="f['password'].errors && f['password'].errors['minLength']"
            >* Password length should not be less than 8</small
          >
          <input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          >
          <small *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors && f['confirmPassword'].errors['required'] ">* Password is required</small>
                        <small *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['minLength(8)'] " >* Password length should not be less than 8</small>
          <input
            type="text"
            placeholder="Phone Number"
            formControlName="contact"
          >
          <small
            *ngIf="
              f['contact'].touched &&
              f['contact'].errors &&
              f['contact'].errors['required']
            "
            >* Phone number is required</small
          >
          <div class="checkbox">
            <input type="checkbox" />
            <p>Yes! Send me the latest news from VerifiedInbox</p>
          </div>
          <div class="actions">
            <button class="cancelBtn">Cancel</button>
            <button type="submit" class="registerBtn">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="divSix">
        <p>
          By clicking the "Sign Up" button, you agree to our
          <a href="">Privacy & Policy</a> and
          <a href="">Terms of Service</a>
        </p>
      </div>
    </div>
    <div class="rightDiv">
       <img src="../../../../assets/login.png" alt="">

    </div>
  </div>
</div>
