<div class="middleRight">
    <p>AI EMAIL SCORING > UPLOAD YOUR FILE</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p> AI <b> Email Scoring System.</b></p>
        <div>
            <p>When do you need to use A.I?</p>
            <p>We recommend using the A.I to score your catch-all email addresses.</p>
            <p>You can also use it to score your valid email addresses.</p>
            <p>What should you expect from the A.I results?</p>
        </div>
        <div>
            <p>Our A.I will score your emails form 0-10.</p>
            <p>Visit this link <a href="">to learn how to use the scoring system.</a> </p>
            <p>Select a CSV, TXT, XLS or XLSX file to upload. Then click on "Validate File" . You will be notified via email once your
                entire list has been validated. You can always check the <a href=""  routerLink="/user/dashboard/AI-scoring-download" routerLinkActive="active">
                    "AI. Download your result"</a> page to get the current status.
            </p>
            <p> Please take a look at our <a href=""> accepted
                file formats</a> before uploading file.</p>
        </div>
        
    </div>
    <div class="divTwo">
        <p> You have <b>5</b> available credits </p>
        <button routerLink="/user/dashboard/Pay-as-you-go"  class="credit">Buy credit</button>
        <button class="plan">Activate premium plan</button>

    </div>
    <div class="divThree">
        <p>Upload attachment...</p>

        <div class="upload">
            <div class="attachment">
                <div class="attachmentIcon">
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                </div>
                
                <p>Hikoot_Clien_Pitch_V2.pdf</p>
            </div>
            <div class="actions">
                <button style="color: #6A95F6;">+ Add note</button>
                <button style="color: gray;">Edit</button>
                <button style="color: gray;">Remove</button>
            </div>
            <div class="addFiles">
                
                
                <button >+ Add files</button>
            </div>
            
            

        </div>
        
    </div>
    <div class="divFour">
        <div>
            <mat-icon fontSet="material-icons-outlined" >cloud_upload</mat-icon>
        </div>
        
        <div><p>You can also drop your file here</p></div>
    </div>
</div>
