<div class="middleRight">
    <p>ACCOUNT INFO</p>
</div>
<div class="mainContainer">

  <div class="divOne">
    <p>Welcome to your <b>Verifiedinbox Account</b></p>
  </div>
  <div class="divTwo">
    <p>
      If you wish to have VerifiedProfile activate the <a href="">freemium subscription service</a> 
      please follow one of the steps below. Once the freemium subscription is
      activated , you can enjoy all the benefits that come with it, including
      the 100 Free Monthly Credits.
    </p>
  </div>
  <div class="divThree">
    
    <ul>
      <li><img src="../../../../assets/arrow-welcome.png" alt="">
        <p>
          <a href="" routerLink="/user/dashboard/change-email">Change your email</a>
            to a corporate email address, not a free one like
          gmail.com , hotmail.com, yahoo.com, etc
        </p>
      </li>
      <li><img src="../../../../assets/arrow-welcome.png" alt="">
    <p>If you don't have a corporate email address,
        use the chat widget on the bottom right to contact customer support
        so we can review your activation request
    </p></li>
    <li>
        <img src="../../../../assets/arrow-welcome.png" alt="">
        <p>Call the number on the website and ask the representative
            to activate your free subscription
        </p>
    </li>
    <li>
        <img src="../../../../assets/arrow-welcome.png" alt="">
        <p>Make sure <a href="" routerLink="/user/dashboard/account-profile">your profile</a>  information is filled out correctly
        </p>
    </li>
    <li>
        <img src="../../../../assets/arrow-welcome.png" alt="">
        <p>If you created this account by mistake you can <a href="" routerLink="/user/dashboard/delete-account">delete it</a> 
        </p>
    </li>
    </ul>
  </div>
  <div class="divFour">
    <p>If you are ready to make a purchase , please proceed to the <a href="" routerLink="/user/dashboard/payment-options">buy credits</a>  page</p>
  </div>
  
</div>
<div  class="contactBtn" >
  <button>Contact Us</button>
</div>
