.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
a{
    color: #6A95F6;
    text-decoration: none;}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
mat-icon{
    color: gray;
}
li img{
    width: 12px;
    height: 15px;
    margin-bottom: auto;
}
.contactBtn button{
   
    height: 40px;
    padding: 5px;
    width: 140px;
    background-color: #1E214E;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 0;
   
}
.contactBtn{
    display: flex;
    justify-content: right;
    
}

@media screen and (max-width:1222px){
    .contactBtn{
        justify-content: left;
        padding-left:20px;
    }
    
}
