<div class="middleRight">
    <p>EMAIL VALIDATOR > UPLOAD YOUR FILE</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p> Let's get started by <b>Uploading your file here</b></p>
        <p>Select a CSV, TXT, XLS or XLSX file to upload. Then click on "Validate File" . You will be notified via email once your
            entire list has been validated. You can always check the <a href=""  routerLink="/user/dashboard/download-results" routerLinkActive="active">
                "Email Validation. Download your result"</a> page to get the current status.
        </p>
        <p> Please take a look at our <a href=""> accepted
            file formats</a> before uploading file</p>
    </div>
    <div class="divTwo">
        <p> You have <b>5</b> available credits </p>
        <button class="credit" routerLink="/user/dashboard/Pay-as-you-go" >Buy credit</button>
        <button class="plan" routerLink="/user/dashboard/tools-subscription">Activate freemium plan</button>

    </div>
    <div class="divThree">
        <p>Upload attachment...</p>

        <div class="upload">
            <div *ngIf="filesArr.length else noFiles" class="filesArray">
                <div  *ngFor="let file of filesArr; let i=index" class="singleFile">
                    <div class="attachment">
                        <div class="attachmentIcon">
                            <img src="../../../../assets/file.png" alt="">
                        </div>
                        
                        <p *ngIf="itsUpload">{{file}}</p> 
                        <p *ngIf="!itsUpload">{{file.relativePath}}</p>
                    </div>
                    <div class="actions">
                        <!-- <button style="color: #6A95F6;">+ Add note</button> -->
                        <button style="color: gray;">Edit</button>
                        <button style="color: gray;" (click)="onRemove(file.index)">Remove</button>
                    </div>
                    
                    
                </div>
                
            </div>
            
            
            <ng-template #noFiles>
                <div class="attachment" >
                <div class="attachmentIcon">
                    <img src="../../../../assets/file.png" alt="">
                </div>
                
                <p>Hikoot_Clien_Pitch_V2.pdf</p>
            </div>
                <div class="actions">
                    <!-- <button style="color: #6A95F6;">+ Add note</button> -->
                    <button style="color: gray;">Edit</button>
                    <button style="color: gray;">Remove</button>
                </div>
            </ng-template >
            
            <div class="addFiles">
                
                
                <button *ngIf="!uploadDivOpen" class="addFileBtn" (click)="onDisplayDiv()">+ Add files</button>
            </div>
            <form class="uploadDiv" *ngIf="uploadDivOpen">
                <input type="file" placeholder="choose file" class="fileInput" #fileInput accept=".csv,.txt,.xls,.xlsx" (change)="onChange($event)">
                <div class="btns">
                    <button (click)="onCloseDiv()" class="closeBtn">CANCEL</button>
                    <button class="uploadFileBtn" (click)="onUpload()">UPLOAD</button>
                </div>
               
            </form>
            
            

        </div>
        
    </div>
   
    <ngx-file-drop  [multiple]="true"  dropZoneLabel="You can also drop your files here" (onFileDrop)="dropped($event)" >
            
    </ngx-file-drop>
</div>
