
.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divOne a{
    color: #6A95F6;
    text-decoration: none;
}
.divTwo{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    
}
.divTwo button{
    width: 180px;
    padding: 8px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 400;
   
}
.credit{
    color: grey;
}
.plan{
    color:white;
    background-color: #1E214E;
}
.divThree{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.upload{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attachment{
    display: flex;
    gap: 40px;
    align-items: center;
}
.attachmentIcon{
    background-color: #e2ecf9;
    color: #6A95F6;
    padding: 10px;
}
.actions{
    display: flex;
    gap: 50px;
}
.actions button{
    outline: none;
    border: none;
    background-color:#F3F6F9;
   
}
/* .addFiles{
    
} */
.addFiles .addFileBtn{
    
    background-color:#6A95F6 ;
    color: white;
    padding: 10px;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.uploadDiv{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    min-height:100px ;
    padding: 20px;
}
.btns{
    display: flex;
    gap: 30px;
}

.uploadDiv button{
   padding: 10px;
   outline: none;
   border: none;
   border-radius: 5px;
   width: 100px;
}
.uploadDiv  .closeBtn{
    color:gray;
}
.uploadDiv .uploadFileBtn{
    background-color: #6A95F6;
   color: white;
    
}
.filesArray{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.singleFile{
    display: flex;
    align-items: center;
    gap: 200px;
}
.divFour{
    color: #6A95F6;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    text-align: center;
    background-color: white;
    border: dashed 2px #6A95F6 ;
    height: 300px;
    border-radius: 15px;
}
.divFour mat-icon{
    font-size: 30px;
    padding: 10px;
   
}