.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}

.middleRight {
    background-color: #DFE1E8;
    padding: 10px;
}

.divBottom {
    display: flex;
    gap: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 40%;
}

.right {
    width: 60%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black ;
    height: fit-content;
}

.left p {
    margin: 20px 20px 0 20px;
    font-size: 13px;
}

.prices {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.leftOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E214E;
    color: white;
    padding: 10px;
    margin: 20px 20px 0 20px;
    width: auto;


}

.priceOne,
.priceTwo,
.priceThree,
.priceFour,
.priceFive,
.priceSix,
.priceSeven,
.priceEight,
.priceNine,
.priceTen {
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 500;
    height: 40px;
    padding: 6px 20px;
}

.priceTwo,
.priceFour,
.priceSix,
.priceEight,
.priceTen {
    background-color: #F1F2F3;
}

.rightOne {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.packages {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.package {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: solid 2px #F1F2F3;
    width: 180px;
    cursor: pointer;

}
.package:hover{
  /* border: solid 2px #1E214E; */
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.package mat-icon {
    color: #A0CDFC;
    height: fit-content;
    width: fit-content;
    font-size: 28px;
    
}

.payments{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.paymentsOne{
    display: flex;
    gap: 10px;
}
.paymentsOne button{
   height: 30px;
   width: 170px;
   outline: none;
   border: none;
   border-radius: 5px;

}
.paymentsOne .creditCard{
    background-color:#5ABAEC ;
    color: white;
}
.paymentsOne .paypalBtn{
   background-color: #FFC100;
}
.paymentsTwo {
    display: flex;
    gap: 15px;
    align-items: center;
}
.paymentsTwo img{
    width: 60px;
    cursor: pointer;
}
/* .paypalImg{
    width: 40px;
}
.masterImg{
    width: 40px;
} */
