<div class="middleRight">
  <p>BUY CREDITS > PAY AS YOU GO</p>
</div>
<div class="mainContainer">
  <p><b>Pay As You Go.</b></p>
  <p>Credits will never <b>EXPIRE.</b></p>
  <div class="divBottom">
    <div class="left">
      <p>You currently have <b>5</b> credits.</p>
      <div class="prices">
        <div class="leftOne">
          <p>NUMBER OF EMAILS</p>
          <p>PRICE PER EMAIL</p>
        </div>
        <div class="priceOne">
          <p>2K to 5K</p>
          <p>$0.008</p>
        </div>
        <div class="priceTwo">
          <p>5K to 10K</p>
          <p>$0.0078</p>
        </div>
        <div class="priceThree">
          <p>10K to 100K</p>
          <p>$0.0065</p>
        </div>
        <div class="priceFour">
          <p>100K to 250K</p>
          <p>$0.0039</p>
        </div>
        <div class="priceFive">
          <p>250K to 500K</p>
          <p>$0.003</p>
        </div>
        <div class="priceSix">
          <p>5K to 1M</p>
          <p>$0.003</p>
        </div>
        <div class="priceSeven">
          <p>1M to 2M</p>
          <p>$0.00225</p>
        </div>
        <div class="priceEight">
          <p>2M to 5M</p>
          <p>$0.00225</p>
        </div>
        <div class="priceNine">
          <p>5M</p>
          <p>$0.002</p>
        </div>
        <div class="priceTen">
          <p>Over 5 million</p>
          <p>Call for pricing</p>
        </div>
      </div>
    </div>
    <div class="right">
      <p>SAVE MONEY BY CHOOSING A VALUE PACKAGE BELOW</p>
      <div class="rightOne">
        <p>PACKAGE</p>
        <div class="packages">
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>5,000 for $39</p>
          </div>
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>10,000 for $65</p>
          </div>
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>100,000 for $390</p>
          </div>
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>250,000 for $750</p>
          </div>
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>500,000 for $1,500</p>
          </div>
          <div class="package" (click)="makePayment(39)">
            <mat-icon>folder_open</mat-icon>
            <p>1,000,000 for $2,250</p>
          </div>
        </div>
      </div>
      <p>ENTER THE AMOUNT OF EMAILS YOU WANT TO VALIDATE BELOW:</p>
      <div>
        <p style="font-size:10px ;">ENTER AMOUNT</p>
        <input type="number" placeholder="1000000" />
      </div>
      <p>Buy <b>5,000</b> credits for <b>39.00 USD</b></p>
      <p>Buy <b>10,000</b> credits for <b>65.00 USD</b></p>
      <p>Buy <b>100,000</b> credits for <b>390.00 USD</b></p>
      <p>Buy <b>250,000</b> credits for <b>750.00 USD</b></p>
      <p>Buy <b>500,000</b> credits for <b>1,500.00 USD</b></p>
      <p>Buy <b>1,000,000</b> credits for <b>2,250.00 USD</b></p>
      <div class="payments">
        <p>BUY NOW WITH</p>
        <div class="paymentsOne" id="paypalBtn">
          <!-- <button class="creditCard" >Pay with Credit Card</button>
          <button class="paypalBtn"  >Buy now with <b><span style="color:#1E214E ;">Pay</span><span style="color:#5ABAEC ;">Pal</span></b></button> -->
        </div>
        <div class="paymentsTwo">
          <img class="paypalImg" src="../../../../assets/paypal.png" alt=""  />
          <img class="masterImg" src="../../../../assets/mastercard.png" (click)="makePayment(39)" alt="" />
          <img class="visaImg" src="../../../../assets/visa.png" alt="" (click)="makePayment(39)" />
          <img class="discoverImg" src="../../../../assets/discover.png" (click)="makePayment(39)" alt="" />
          <img class="americaImg" src="../../../../assets/america-express.png" (click)="makePayment(39)" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
