<div class="mainContainer">
<div class="leftDiv">
    <div class="topLeft">
        <p>ICON</p>
        <p>VERIFIED INBOX</p>
        <p>--</p>   <!-- hambuger menu -->
       
    </div>
    <div class="bottomLeft">
        <div class="divValidator">
            <div class="titleHeader">
                <h3>IC</h3>
                <p>EMAIL VALIDATOR</p>

            </div>
            <div class="details">
                <a href="">Upload your profile</a>
                <a href="">Download your result</a>
                <a href="">Single email validator</a>
                <a href="">Integrations</a>
                <a href="">API-Keys & info</a>
            </div>
        </div>
        <div class="divScoring">
            <div class="titleHeader">
                <h3>IC</h3>
                <p>AI EMAIL SCORING</p>

            </div>
            <div class="details">
                <a href="">AI scoring upload</a>
                <a href="">AI scoring download</a>
            </div>
        </div>
        <div class="divCredit">
            <div class="titleHeader">
                <h3>IC</h3>
                <p>BUY CREDIT</p>

            </div>
            <div class="details">
                <a href="">Pay as you go</a>
                <a href="">Subscription</a>
                <a href="">Autopay</a>
            </div>
        </div>
        <div class="divTools">
            <div class="titleHeader">
                <h3>IC</h3>
                <p>DELIVERABILTY TOOLS</p>

            </div>
            <div class="details">
                <a href="">Inbox placement tester</a>
                <a href="">mail server tester</a>
                <a href="">Blacklist monitoring</a>
                <a href="">Tool subscription</a>
            </div>
        </div>
        <div class="divAccount">
            <div class="titleHeader">
                <h3>IC</h3>
                <p>ACCOUNT INFO</p>

            </div>
            <div class="details">
                <a href="">Billing</a>
                <a href="">Invoices</a>
                <a href="">GDPR information</a>
                <a href="">Account option</a>
            </div>
        </div>
        <!-- <div class="divBlank"></div> -->
    </div>
</div>
<div class="rightDiv">
    <div class="topRight">
        <div class="searchDiv">
            <input type="search" placeholder="search">
        </div>
        
        <div class="profileDetails"></div>
    </div>
    <div class="middleRight">
        <p>ACCOUNT INFO</p>
    </div>
    <div class="bottomRight">
        <div class="routerOutlet">
            <router-outlet></router-outlet>
        </div>
        <div class="contact">
            <div class="links">
                <a href="">Documentation</a>
                <p>|</p>
            <a href="">Privacy Policy & Terms</a>
            </div>
            <div class="contactBtn">
                <button>Contact Us</button>
            </div>
            
        </div>
    </div>
</div>
</div>
