<div class="mainContainer">
<div class="upperDiv">
    <div class="topLeft">
        
        <img src="../../../../assets/logo-white.png" alt="">
        <mat-icon (click)="toggleMenu()">menu</mat-icon>
       
    </div>
    <div class="topRight">
        <div class="searchDiv">
            <input type="search" placeholder="search">
            
        </div>
        
        <div class="profileDetails">
         
            <img class="emailIcon" src="../../../../assets/email.png" alt="">
       
            <img class="notificationIcon" src="../../../../assets/notification.png" alt="">

            
            <img class="avatarIcon" src="../../../../assets/av.png" alt="">
            <p>Bernard Odote</p>
            <mat-icon class="helpIcon">help_outline</mat-icon>
           
            <img class="logoutIcon" routerLink="/home" src="../../../../assets/logout.png" alt="">

         
        </div>
    </div>
   
</div>
<div class="lowerDiv" >
    <div class="bottomLeft" *ngIf=" !menuVisible" >
        <div class="divValidator">
            <div class="titleHeader">
                <img src="../../../../assets/email-validator.png" alt="">
                <p>EMAIL VALIDATOR</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/upload-file"
                routerLinkActive="active">Upload your file</a>
                <a href="" routerLink="/user/dashboard/download-results" routerLinkActive="active">Download your result</a>
                <a href="" routerLink="/user/dashboard/single-email-validator" routerLinkActive="active">Single email validator</a>
                <a href="" routerLink="/user/dashboard/integrations" routerLinkActive="active">Integrations</a>
                <a href="" routerLink="/user/dashboard/API_keys" routerLinkActive="active">API-Keys & info</a>
            </div>
        </div>
        <div class="divScoring">
            <div class="titleHeader">
                <img src="../../../../assets/AI.png" alt="">
                <p>AI EMAIL SCORING</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/AI-scoring-upload" routerLinkActive="active">AI scoring upload</a>
                <a href="" routerLink="/user/dashboard/AI-scoring-download" routerLinkActive="active">AI scoring download</a>
            </div>
        </div>
        <div class="divCredit">
            <div class="titleHeader">
               
                <p style="margin-left: 10px;" >BUY CREDIT</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/Pay-as-you-go" routerLinkActive="active">Pay as you go</a>
                <a href="" routerLink="/user/dashboard/subscription" routerLinkActive="active">Subscription</a>
                <a href="" routerLink="/user/dashboard/autopay" routerLinkActive="active">Autopay</a>
            </div>
        </div>
        <div class="divTools">
            <div class="titleHeader">
                <img src="../../../../assets/deliverability.png" alt="">
                <p>DELIVERABILTY TOOLS</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/inbox-placement-tester" routerLinkActive="active">Inbox placement tester</a>
                <a href="" routerLink="/user/dashboard/email-server-tester" routerLinkActive="active">mail server tester</a>
                <a href="" routerLink="/user/dashboard/blacklist-monitoring" routerLinkActive="active">Blacklist monitoring</a>
                <a href="" routerLink="/user/dashboard/tools-subscription" routerLinkActive="active">Tool subscription</a>
            </div>
        </div>
        <div class="divAccount">
            <div class="titleHeader">
                <img src="../../../../assets/account-info.png" alt="">
                <p>ACCOUNT INFO</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/billing" routerLinkActive="active">Billing</a>
                <a href="" routerLink="/user/dashboard/invoices" routerLinkActive="active">Invoices</a>
                <a href="" routerLink="/user/dashboard/GDPR-information" routerLinkActive="active">GDPR information</a>
                <a href="" routerLink="/user/dashboard/account-option" routerLinkActive="active">Account option</a>
            </div>
        </div>
        
    </div>
  
    
    <div class="bottomRight" [ngClass]="{'toggle':menuVisible}" >
        <div class="routerOutlet">
            <router-outlet></router-outlet>
        </div>
        <div class="contact">
            <div class="links">
                <a href="">Documentation</a>
                <p>|</p>
            <a href="">Privacy Policy & Terms</a>
            </div>
           
            
        </div>
        <div class="chatDiv">
            <img src="../../../../assets/chat (1).png" alt="">
           <p> Chat with us</p>
        </div>
        <div class="copyrightDiv">
            <p>Copyright © 2022 Verifiedinbox.</p>
        </div>
    </div>
    
</div>

</div>
