.mainContainer{
    display: flex;
    flex-direction: column;
}

.upperDiv,.lowerDiv{
    display: flex;
}


.topLeft{
    
    background-color: #1E214E;
    color: white;
    width: 20%;  
   
  

}
.topLeft mat-icon{
    font-size: 30px;
    width: auto;
    height: auto;
}
.topLeft img{
    width: 60%;
   left: 0;
   top: 0;
   margin-top: 7px;
}
.topLeft ,.topRight{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 20px;
    align-items: center;
   


}
.bottomLeft{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 12px 80px 12px;
    min-width:20% ;
    /* display: none; */
    
   
}

.titleHeader{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: lightgray;
    font-size: 14px;
    margin-left: 20px;
}
.titleHeader img{
    height: 15px;
}
.divValidator .details a{
color: #1E214E;
text-decoration: none;
padding: 10px;
}
.divValidator,.divScoring, .divCredit, .divTools,.divAccount{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: solid 2px lightgray;

}
.divValidator .details,.divScoring .details , .divCredit .details , .divTools .details ,
.divAccount .details {
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    text-decoration: none;
   
}
.divScoring .details  a, .divCredit .details a , .divTools .details a ,
.divAccount .details a {
    text-decoration: none;
    color: gray;
    padding: 10px;
   
}
.topRight{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.topRight .searchDiv input{
    background-color:#F3F3F3;
    padding: 10px;
    border: none;
    outline: none;
    width: 250px;
    border-radius: 5px;
}
.profileDetails{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    
}
.profileDetails img{
    cursor: pointer;
}
.emailIcon,.logoutIcon{
    width: 20px;
}
.notificationIcon{
    width: 15px;
}
.helpIcon{
    color: #ABABAA;
font-size: 15px;
margin-top: 10px;
}

.avatarIcon{
    width: 30px;
}

.profileDetails p{
    
    margin-top: 10px;
     color: #ABABAA;
     font-size: 14px;
 }


.bottomRight{
    background-color: #F3F6F9;
   width: 80%; 
    max-width: auto; 
    height:auto;
    position: relative;
   
   
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding:0 25px 25px 25px;
}
.links{
    display: flex;
    gap: 10px;
    
}
.links a, .links p{
    color: #6A95F6;
    text-decoration: none;
}
.contactBtn button{
    height: 40px;
    padding: 5px;
    width: 140px;
    background-color: #1E214E;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
}
.chatDiv{
    display: flex;
    gap: 30px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px;
    padding: 10px 30px;
    color: #1E214E;
    width: fit-content;
    border-radius: 100px;
    align-items: center;
   position: absolute;
   position: fixed;
   right: 30%;
   top: 90%;
   z-index: 999;
  cursor: pointer;
 
}
.chatDiv img{
    width: 35px;
}
.chatDiv p{
    font-size: 16px;
    font-weight: 500;
}
.active{
    background-color: #F3F3F3;
    color: gray !important;
    border-left:solid 3px #1E214E ;
 
}
.copyrightDiv{
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 40%;

  
  
    
}
.copyrightDiv p{
   
    text-align: center;
    color: #ABABAA;
    
}
/* .routerOutlet{
    
   
} */