.mainContainer{
    display: flex;
}
.leftDiv{
    width: 20%;
    
    
}
.rightDiv{
    width: 80%;
    
}
.rightDiv,.leftDiv{
    display: flex;
    flex-direction: column;

} 
.topLeft{
    
    background-color: #1E214E;
    color: white;
    
    

}
.topLeft img{
    width: 60%;
    height: 40px;
}
.topLeft ,.topRight{
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 20px;
    align-items: center;


}
.bottomLeft{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
   
}
.titleHeader{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: lightgray;
    font-size: 14px;
    margin-left: 20px;
}
.titleHeader img{
    height: 15px;
}
.divValidator .details a{
color: #1E214E;
text-decoration: none;
padding: 10px;
}
.divValidator,.divScoring, .divCredit, .divTools,.divAccount{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    border-bottom: solid 2px lightgray;

}
.divValidator .details,.divScoring .details , .divCredit .details , .divTools .details ,
.divAccount .details {
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    text-decoration: none;
    /* margin-left: 30px; */
    /* text-align: center; */
}
.divScoring .details  a, .divCredit .details a , .divTools .details a ,
.divAccount .details a {
    text-decoration: none;
    color: gray;
    padding: 10px;
   
}
.topRight{
    display: flex;
    justify-content: space-between;
}
.topRight .searchDiv input{
    background-color:#F3F3F3;
    padding: 10px;
    border: none;
    outline: none;
    width: 250px;
    border-radius: 5px;
}
.profileDetails{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    
}

.emailIcon,.notificationIcon{
    color: #ABABAA;
    font-size: 20px;
}
.helpIcon{
    color: #ABABAA;
font-size: 15px;
margin-top: 10px;
}
.circleIcon{
    color: #1E214E;
    font-size: 40px;
    text-align: center;
    padding:5px 20px 5px 5px;
    display: flex;
    align-items: center;
}
.logoutIcon{
    color: #1E214E;
    font-size: 20px;
    font-weight: 700;
}
.profileDetails p{
    
    margin-top: 10px;
     color: #ABABAA;
     font-size: 14px;
 }


.bottomRight{
    background-color: #F3F6F9;
    /* padding: 0 25px; */
    height:100%;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding:0 25px 25px 25px;
}
.links{
    display: flex;
    gap: 10px;
    
}
.links a, .links p{
    color: #6A95F6;
    text-decoration: none;
}
.contactBtn button{
    height: 40px;
    padding: 5px;
    width: 140px;
    background-color: #1E214E;
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 5px;
}
.chatDiv{
    display: flex;
    gap: 30px;
    background-color: white;
    padding: 10px 40px;
    color: #1E214E;
    width: fit-content;
    border-radius: 100px;
    align-items: center;
   margin-left: auto;
   margin-right: 25px;
   /* margin-bottom: auto; */
}
.chatDiv p{
    font-size: 16px;
    font-weight: 500;
}
.active{
    background-color: #F3F3F3;
    color: gray;
    border-left:solid 3px #1E214E ;
}