<div class="mainContainer">
<div class="leftDiv">
    <div class="topLeft">
        
        <img src="../../../../assets/logo.png" alt="">
        <mat-icon>menu</mat-icon>
       
    </div>
    <div class="bottomLeft">
        <div class="divValidator">
            <div class="titleHeader">
                <img src="../../../../assets/email-validator.png" alt="">
                <p>EMAIL VALIDATOR</p>

            </div>
            <div class="details">
                <a href="" routerLink="/user/dashboard/upload-profile"
                routerLinkActive="active">Upload your profile</a>
                <a href="">Download your result</a>
                <a href="">Single email validator</a>
                <a href="">Integrations</a>
                <a href="">API-Keys & info</a>
            </div>
        </div>
        <div class="divScoring">
            <div class="titleHeader">
                <img src="../../../../assets/AI.png" alt="">
                <p>AI EMAIL SCORING</p>

            </div>
            <div class="details">
                <a href="">AI scoring upload</a>
                <a href="">AI scoring download</a>
            </div>
        </div>
        <div class="divCredit">
            <div class="titleHeader">
               
                <p style="margin-left: 10px;" >BUY CREDIT</p>

            </div>
            <div class="details">
                <a href="">Pay as you go</a>
                <a href="">Subscription</a>
                <a href="">Autopay</a>
            </div>
        </div>
        <div class="divTools">
            <div class="titleHeader">
                <img src="../../../../assets/deliverability.png" alt="">
                <p>DELIVERABILTY TOOLS</p>

            </div>
            <div class="details">
                <a href="">Inbox placement tester</a>
                <a href="">mail server tester</a>
                <a href="">Blacklist monitoring</a>
                <a href="">Tool subscription</a>
            </div>
        </div>
        <div class="divAccount">
            <div class="titleHeader">
                <img src="../../../../assets/account-info.png" alt="">
                <p>ACCOUNT INFO</p>

            </div>
            <div class="details">
                <a href="">Billing</a>
                <a href="">Invoices</a>
                <a href="">GDPR information</a>
                <a href="">Account option</a>
            </div>
        </div>
        <!-- <div class="divBlank"></div> -->
    </div>
</div>
<div class="rightDiv">
    <div class="topRight">
        <div class="searchDiv">
            <input type="search" placeholder="search">
            
        </div>
        
        <div class="profileDetails">
            <mat-icon class="emailIcon" >markunread</mat-icon>
            <mat-icon class="notificationIcon">notifications</mat-icon>
            <mat-icon class="circleIcon">circle_outline</mat-icon>
            <p>Bernard Odote</p>
            <mat-icon class="helpIcon">help_outline</mat-icon>
            <mat-icon class="logoutIcon" routerLink="/home">power_settings_new</mat-icon>
         
        </div>
    </div>
    
    <div class="bottomRight">
        <div class="routerOutlet">
            <router-outlet></router-outlet>
        </div>
        <div class="contact">
            <div class="links">
                <a href="">Documentation</a>
                <p>|</p>
            <a href="">Privacy Policy & Terms</a>
            </div>
            <div class="contactBtn">
                <button>Contact Us</button>
            </div>
            
        </div>
        <div class="chatDiv">
            <mat-icon>chat</mat-icon>
           <p> Chat with us</p>
        </div>
    </div>
</div>
</div>
