<div class="middleRight">
  <p>ACCOUNT INFO > INVOICES</p>
</div>
<div class="mainContainer">
  <div class="divOne">
    <p style="font-size:18px;">Invoice <b>History</b></p> <br>
    <p>
      Welcome to your invoice history, here you can download copies of all your invoices.
    </p>
    <p>If you have a VAT/EIN Number or a business name please enter it below, so we can add it to your invoices.</p>
  </div>
  <div class="secondDiv">
   
    <form class="divTwo" [formGroup]="invoiceForm" (ngSubmit)="onSave()">
      <div style="display: flex;gap:110px;">
        <small *ngIf="f['vat'].touched && f['vat'].errors && f['vat'].errors['required'] ">*VAT/EIN is required</small>
        <small *ngIf="f['bill'].touched && f['bill'].errors && f['bill'].errors['required'] ">*Bill information is required</small>
      </div>

    
        <div class="inputs">
            <div class="inputOne">              
                <label for="">VAT/EIN</label>
          <input formControlName="vat" type="text" placeholder="#VAT/EIN" />
          
            </div>
            
          <div class="inputTwo">
            <label for="">BILL TO</label>
            <input formControlName="bill" type="text" placeholder="Enter your bill information">

          </div>

          
          <button type="submit" style="margin-top:auto;">Save</button>
        </div>
    
        
      
    </form>
      <div>
        <div class="top">
          <p>INVOICE</p>
          |
          <p>NAME</p>
          |
          <p>PAYMENT DATE</p>
          |
          <p>ITEM PURCHASED</p>
          |
          <p>AMOUNT</p>
          |
          <p>VIEW DETAILS</p>
          |
          <p>DELETE</p>
         
        </div>
        <div class="bottom">
          <p>--No records to display--</p>
        </div>
  
      </div>
      
  </div>
  <p style="color: red; font-size: 10px; padding-top: 10px">
    *All files older than 30 days will be automatically deleted
  </p>
</div>
