<div class="middleRight">
  <p>ACCOUNT OPTIONS> MANAGE CONTACT LISTS</p>
</div>
<div class="mainContainer">
  <div class="divOne">
    <p>Manage <b>Contact Lists</b></p>
    <p>
      Ensure <a href="" routerLink="/user/dashboard/blacklist-monitoring">Blacklist Monitoring</a> alerts reach the proper users or individuals in your organization. Create a contact list 
      below, and send invites to those relevant people.
    </p>
    <div>
      <p>
        Follow the steps below:
      </p>
      <p><i>1. Create and name your contact list.</i></p>
      <p><i>2. Once your list is created, click 'Manage Contacts'.</i></p>
      <p><i>3. Click 'Invite a new contact' and enter the email address of the person you wish to add to the contact list.</i></p>
      
  </div>
  </div>
  <div
    class="divTwo"
   
  >
  <div class="alert"> <span> A </span>  <a href="" routerLink="/user/dashboard/welcome"> Freemium Plan</a> <span> or an active </span>  <a href="" routerLink="/user/dashboard/tools-subscription"> Tool Subscription Plan </a> <span>is required to manage contact lists.</span> </div>
</div>
</div>
