<div class="middleRight">
  <p>ACCOUNT INFO > GDPR INFORMATION</p>
</div>
<div class="mainContainer">
    <p> GDPR <b> Information</b></p>
    <p>To accept the GDPR policy, please scroll to the bottom and click "Accept Agreement" button.</p>
    <h3 style="text-align: center;"><b>DATA PROCESSING AGREEMENT</b></h3>
    <p>BETWEEN: </p>
    <p>The company whose information has been provided as part of the registration process and who will electronically sign 
        this Data Processing Agreement (herein after to be referred)

    </p>
    <p>AND</p>
    <p>Hertza, L.L.C., a Nevada limited iabiliy company doing business 
        as "ZeroBounce" and having its principle place of business at 10 E. Yanonali St.Santa Barbara, California 93101 
        (herein after to be referred as the "Data Processor")
    </p>
    <p>HEREBY AGREE AS FOLLOWS :</p>
    <p>Subject matter of this Data Processing Agreement</p>
    <p>1.1 This Data Processing Agreement applies exclusively  to the processing of personal data that 
        is subject to EU Data Protection Law in the scope of the Terms and Conditions of US.
    </p>
    <p>1.2 Insofar as the Data Processor will be processing Personal Data subject to EU Data Protection Law 
        on behalf of the Data Controller in the course of the performance of the 
        Service Agreement with the Data Controller the terms of this Data Processing Agreement shall apply. 
        The categories of personal data to be processed includes: first name, last name, gender, city, 
        state, country, Internet Protocal (IP) Address information and email addresses. The types of data subjects 
        whose information will be processed are individuals. The purpose for which the personal data will be processed include : validation of email lists for deliverability 
        , and removal of unknown email complainers, abusers, and spam traps from email address lists. 

    </p>
    <p>The Data Controller and the Data Processor</p>
    <div class="accept">
        <input type="checkbox" name="" id="">
        <p>I HAVE READ AND ACCEPTED THE DATA PROCESSING AGREEMENT</p>
    </div>

  <!-- <div class="divOne"></div> -->
</div>
