.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    margin: 15px;
    background-color: white;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.accept{
    display: flex;
    gap: 20px;
    align-items: center;
}
.accept input{
    height: 35px;
    width: 40px;
    
}
.accept p{
    font-size: 20px;
    
}
.acceptForm{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.acceptBtn{
    background-color: #23264F;
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    padding: 10px;
    width: 200px;
}
 button[disabled]{
    background-color: #575978;

 }