<div class="middleRight">
  <p>API KEYS AND INFO > YOUR API KEYS</p>
</div>

<div class="mainContainer">
  <div class="divOne">
    <p>
      Your <b>API Keys</b>
    </p>
    <p>These are your API Keys. The master key cannot be deleted. For additional API Keys, please create one below. 
        <span style="color: red;">NEVER SHARE YOUR API KEYS WITH OTHERS.</span>
    </p>
  </div>
  <div class="divTwo">
    <table>
      <tr>
        <th colspan="5" style="border-left:solid 1px lightgrey ;border-top:solid 1px lightgrey;color: black;" >+ Add new Key</th>
        <th colspan="4" style="border-top:solid 1px lightgrey ;" ><a href="">Refresh</a> | <a href="">CSV</a></th>
      </tr>
      <tr class="top">
        <th>NAME</th>
        <th>TEAM MEMBER</th>
        <th>API KEY</th>
        <th>ACTIVE</th>
        <th>DATE UPDATED</th>
        <th>LAST USED</th>
        <th>EDIT</th>
        <th>GENERATE NEW KEY</th>
        <th>DELETE</th>
      </tr>
       <tr class="data">
        <td style="border-left:solid 1px lightgrey ;" >my data</td>
        <td>my data</td>
        <!-- <input type="text"> -->
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td> <mat-icon>edit</mat-icon> </td>
        <td><mat-icon>delete</mat-icon></td>
       </tr>
       <tr class="data">
        <td style="border-left:solid 1px lightgrey ;" >my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td>my data</td>
        <td> <mat-icon>edit</mat-icon> </td>
        <td><mat-icon>delete</mat-icon></td>
       </tr>


    </table>
  </div>
</div>
