<!-- main container -->
<div class="mainContainer">
    <div class="divOne">
        <p>+62 1111 2222 44</p>
        <p>|</p>
        <p>info@yourdomain.com</p>
    </div>
    <div class="divTwo">
        <div class="leftLogo">
            <!-- <img src="" alt=""> -->
            <p class="logoName">VERIFIEDINBOX</p>
        </div>
        <div class="navLinks">
            <ul class="navList">
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">PRODUCTS</a></li> 
                <li><a href="">PRICING</a></li>
                <li><a href="">CONTACT US</a></li>
                <li><button>LOGIN</button></li>
            </ul>
        </div>
    </div>
    <div class="divThree">
        <img src="https://www.thenews.com.pk/assets/uploads/updates/2022-08-05/979927_6778934_gmail_updates.jpg" alt="">
    </div>
    <div class="divFour">
        <div class="leftFour">
            <img src="https://cdn.pixabay.com/photo/2015/01/08/18/11/laptops-593296__480.jpg" alt="">
        </div>
        <div class="rightFour">
            
            <p class="about">ABOUT US</p>
            <p>Your Partner In Email List Cleaning Services
                Getting <br> Rid Of All The Bad Guys <br><br>
            </p>
            <p>
                Your email campaign will only make business sense if it lands 
                in inbox, removing invalid emails will ensure that your SMTP server is not
                compromised thus increasing the security of you landing in inbox
            </p>
        </div>

    </div>
    <div class="divFive">
        
        <p class="products">OUR PRODUCTS</p>
        <div class="productGrids">
            <div>
                <!-- <i class="fa-thin fa-clipboard-list"></i> -->
                
            </div>
            
        </div>
    </div>

</div>

