<div class="middleRight">
    <p>EMAIL VALIDATOR > API KEYS AND INFO</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p>Everything you need in one place <b>to get started with using the API</b></p>
    </div>
    <div class="divTwo">
        <div class="keys1">
            <p>Your API Keys</p>
            <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="">
        </div>
        <div class="keys2">
            <p>Your API Key is required to use our API. Keep it safe and secure. 
                You can view and change it anytime. <a href="">Click here</a> to get started.
            </p>

        </div>
        <div class="usage1">
            <p>API usage dashboard</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="usage2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="callback1">
            <p>API callback status-File management API</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="callback2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>

    </div>
    <div class="divThree">
        <div class="validation1">
            <p>API-Email validation document</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="validation2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="credit1">
            <p>API-Get credit documentations</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="credit2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
    </div>
    <div class="divFour">
        <div class="upload1">
            <p>API-File management documentation - email validation - bulk upload</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="upload2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="scoring1">
            <p>API-File management documentation - email validation - I email scoring bulk uploads</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="scoring2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>

    </div>
    
</div>
