<div class="middleRight">
    <p>EMAIL VALIDATOR > API KEYS AND INFO</p>
</div>

<div class="mainContainer">
    <div class="divOne">
        <p>Everything you need in one place <b>to get started with using the API</b></p>
    </div>
    <div class="divTwo">
        <div class="keys1">
            <p>Your API Keys</p>
            <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isKeysOpen" (click)="untoggleKeys()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleKeys()" *ngIf="!isKeysOpen">
        </div>
        <div class="keys2" *ngIf="isKeysOpen">
            <p>Your API Key is required to use our API. Keep it safe and secure. 
                You can view and change it anytime. <a href="">Click here</a> to get started.
            </p>

        </div>
        <div class="usage1">
            <p>API usage dashboard</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isUsageOpen" (click)="untoggleUsage()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleUsage()" *ngIf="!isUsageOpen">
        </div>
        <div class="usage2" *ngIf="isUsageOpen">
            <p>The API Dashboard will summarize your usage by API Key and results.<a href="">Click here</a> to view your usage data  </p>
        </div>
        <div class="callback1">
            <p>API callback status-File management API</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isCallbackOpen" (click)="untoggleCallback()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleCallback()" *ngIf="!isCallbackOpen">
        </div>
        <div class="callback2" *ngIf="isCallbackOpen">
            <p>When using the optional Return URL Parameter on the Send File method of the Email Validation API or AI Scoring API, 
                you can use <a href="">this page</a> to troubleshoot or verify that the callback happened to your return URL
            </p>
        </div>

    </div>
    <div class="divThree">
        <div class="validation1">
            <p>API-Email validation document</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isValidationOpen" (click)="untoggleValidation()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleValidation()" *ngIf="!isValidationOpen">
        </div>
        <div class="validation2" *ngIf="isValidationOpen">
            <p>Looking to validate emails via our award-winning API? <a href="">Click here</a> to get started. 
                Be sure to check out all the easy to use API Wrappers to speed up the development process.
                 </p>
        </div>
        <div class="credit1">
            <p>API-Get credit documentations</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isCreditOpen" (click)="untoggleCredit()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleCredit()" *ngIf="!isCreditOpen">
        </div>
        <div class="credit2" *ngIf="isCreditOpen">
            <p>Looking to get your credit balance via our award-winning API? <a href="">Click here</a> to get started. 
                Be sure to check out all the easy to use API Wrappers to speed up the development process.</p>
        </div>
    </div>
    <div class="divFour">
        <div class="upload1">
            <p>API-File management documentation - email validation - bulk upload</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isUploadOpen" (click)="untoggleUpload()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleUpload()" *ngIf="!isUploadOpen">
        </div>
        <div class="upload2" *ngIf="isUploadOpen">
            <p>Looking to submit files programmatically to us? <a href="">Click here</a> to get started. 
                Be sure to check out all the easy to use API Wrappers to speed up the development process.</p>
        </div>
        <div class="scoring1">
            <p>API-File management documentation - email validation - AI email scoring bulk uploads</p>
                       <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="" *ngIf="isScoringOpen" (click)="untoggleScoring()">
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="" (click)="toggleScoring()" *ngIf="!isScoringOpen">
        </div>
        <div class="scoring2" *ngIf="isScoringOpen">
            <p>Looking to submit files programmatically to us? <a href="">Click here</a> to get started. 
                Be sure to check out all the easy to use API Wrappers to speed up the development process.</p>
        </div>

    </div>
    
</div>
