<div class="middleRight">
    <p>EMAIL VALIDATOR > API KEYS AND INFO</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p>Everything you need in one place <b>to get started with using the API</b></p>
    </div>
    <div class="divTwo">
        <div class="keys1">
            <p>Your API Keys</p>
            <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <div class="keys2">
            <p>Your API Key is required to use our API. Keep it safe and secure. 
                You can view and change it anytime. <a href="">Click here</a> to get started.
            </p>

        </div>
        <div class="usage1">
            <p>API usage dashboard</p>
            <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <div class="usage2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="callback">
            <p>API callback status-File management API</p>
            <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <div class="callback2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>

    </div>
    
</div>
