<div class="middleRight">
    <p>ACCOUNT OPTIONS> CHANGE YOUR PASSWORD</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p>Change Your <b>Password</b></p>
        <p>Changing your VerifiedInbox password to a secure one that only you know and that no one else can guess 
            protects your private information from unauthorised access.
        </p>
        <div>
            <p> <b>A password</b> with 8 or more characters, including numbers, both uppercase and lowercase letters, and special symbols is recommended 
                but <span style="color: red;font-weight: bold;">not required</span> </p>
                <p><b>A password</b> of 6 characters or more is <span style="color: green;font-weight: bold;">required</span></p>
        </div>
       <p><b>You will be redirected to the login screen upon completion.</b></p>

    </div>
    <form class="divTwo"(ngSubmit)="onSubmit()" [formGroup]="passwordForm"  >
        <div 
        class="password">
            <label for="">Old Password:</label>
            <input type="password" placeholder="Enter old password" formControlName="oldPassword"  >
        </div>
        <div 
        class="password">
            <label for="">New Password:</label>
            <input type="password" placeholder="Enter new password" formControlName="newPassword">
    
        </div>
        <div 
        class="password">
            <label for="">Confirm Password:</label>
            <input type="password" placeholder="Confirm new password" formControlName="confirmPassword">
         
        </div>
        <button type="submit">Change Password</button>
    </form>
</div>
