<div class="middleRight">
    <p>EMAIL VALIDATOR > INTEGRATIONS</p>
</div>
<div class="mainContainer">
    <div class="divOne">
        <p> VerifiedInbox offers the following options <b>to integrate with</b></p>
        <div>
            <p style="font-size: 10px;">FILES</p>
            <div class="filesContainer">
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>
                <div class="file">
                    
                    <mat-icon fontSet="material-icons-outlined"> insert_drive_file</mat-icon>
                    <button>Connect</button>

                </div>

            </div>
        </div>
        
        
    </div>
</div>
