.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.filesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.file{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: solid 2px #F7F9FB;
    width: 250px;
}
.file mat-icon{
    /* width: 150px;
    height: 120px; */
    width: fit-content;
    height: fit-content;
    font-size: 120px;
    color: grey;

}
.file button{
    outline: none;
    border: none;
    /* background-color: #1E214E; */
    background-color: #F3F6F9;
    color: grey;
    /* color: white; */
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
/* .file button:hover{
    
    background-color: #1E214E;
    color: white;
   
}
.file mat-icon:hover{
   
    color:#C7E2FF;

}
.file:hover{
    border: solid 2px #C7E2FF ;
} */

@media screen and (max-width:938px) {
    .file{
        width:50vw ;
    }
    
}
@media screen and (max-width:930px) {
    .file{
        width:100%;
    }
    
}