.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.inputs input{
    outline: none;
    width: 250px;
    padding: 10px;
    background-color: white;
    border: solid 1px lightgrey;
}
.inputs button,.activateBtn{
    background-color: #4ca3ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
}
.buttons{
    display: flex;
    justify-content: right;
    gap: 20px;
}
.upgradeBtn{
   
    background-color: #DFE1E8;
    outline: none;
    border: none;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    width: 200px;
}
.diTwo{
    display: flex;
    flex-direction: column;
   

}
.top{
    background-color: #eaeaeb;
    color: lightgray;
    font-weight: 400;
    /* font-size: 16px; */
    

}
th,td{
    border-right: 1px solid lightgray;
width: 100px;
text-align: center;
padding:6px ;
}
table{
    
    border-collapse: collapse;
    width: 100%;
}

.data{
    /* padding: 5px; */
    text-align: center;
    background-color: white;
    border-bottom: solid 2px lightgrey;
}
.bottom{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: lightgrey;
   
}
@media screen and (max-width:482px) {
    .buttons {
        flex-direction: column;
        width: 100%;
    }
    .buttons button{
        width: 100%;

    }
    input{
        width: 200px;
    }
    .inputs button{
        padding: 4px;
    }
}
