<div class="middleRight">
  <p>DELIVERABILTY TOOLS > EMAIL SERVER TESTER</p>
</div>
<div class="mainContainer">
 
    <div class="divOne">
      <p>Welcome To Your <b>Email Server Testing Platform.</b></p>
      <p>
        The Email Server Testing Platform analyses your email headers according to best practices 
        set by mailbox providers to ensure that your email is setup and configured correctly. 
        Follow the steps below.
      </p>
      <p>1. Send an email to the email address below from the mail server that you want to test</p>
      <div class="inputs">
        <input type="text" placeholder="">
        <button>+ Create new test email</button>
      </div>
    </div>
    <div class="buttons"> <button class="upgradeBtn">Upgrade</button>
    <button class="activateBtn">Activate premium plan</button></div>
   
    <div class="divTwo" style="overflow-x: auto;">

      <table>
        <tr class="top">
            <th>DATE</th>
            <th>FROM</th>
            <th>SUBJECT</th>
            <th>WARNINGS</th>
            <th>CRITICAL</th>
            <th>VIEW RESULT</th>
            <th>DELETE</th>


        </tr>
        <tr>
          <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td><mat-icon>delete</mat-icon></td>
        </tr>
       </table>
        <div class="bottom">
            <p>--No records to display--</p>
        </div>
        <p style="color:red ;font-size:10px;padding-top: 10px;">*All files older than 30 days will be automatically deleted</p>

    

</div>
