<div class="middleRight">
  <p>ACCOUNT INFO > ACCOUNT OPTIONS</p>
</div>
<div class="mainContainer">
    <p>ZeroBounce offers teh following option to <b>customize your account </b></p>
    <div class="divTwo">
        <div class="update1">
            <p>Update your profile</p>
            <img class="arrowRight" src="../../../../assets/arrow-down.png" alt="">
        </div>
        <div class="update2">
            <p>Keeping your profile current helps us better serve your needs. <a href="">Click here</a> to update your profile.
            </p>

        </div>
        <div class="mail1">
            <p>Change your mail.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="mail2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="password1">
            <p>Change your password.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="password2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="notification1">
            <p>Change your notification settings.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="notification2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="time1">
            <p>Change your time zone settings</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="time2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="delete1">
            <p>Delete your account.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="delete2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="user1">
            <p>Manage user.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="user2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="contact1">
            <p>Manage contact list.</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="contact2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>

    </div>
    <div class="divThree">
        <div class="downloads1">
            <p>Password protected downloads</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="downloads2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="auth1">
            <p>Two factor authentication</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="auth2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
        <div class="assumption1">
            <p>Account assumption</p>
            <img class="arrowRight" src="../../../../assets/arrow-right.png" alt="">
        </div>
        <div class="assumption2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, odio?</p>
        </div>
    </div>
 
    
</div>
