<div class="middleRight">
  <p>BUY CREDITS > AUTOPAY BILLING</p>
</div>
<div class="mainContainer">
  <div class="divOne">
    <p>Auto<b>Pay/ Billing</b></p>
    <p>To access AutoPay or Billing features, you have to make a purchase using the "Pay with Card" 
        option in blue on the Buy Credits. This feature is currently not available through PayPal.
    </p>
    <p>However, we do plan to support PayPal in the future</p>
  </div>
  <div class="divTwo">
    <p> You have <b>5</b> available credits </p>
    <button class="credit" routerLink="/user/dashboard/Pay-as-you-go" >Buy credit</button>
  </div>
</div>
