<div class="middleRight">
  <p>DELIVERABILTY TOOLS > TOOLS SUBSCRIPTION</p>
</div>
<div class="mainContainer">
  <div class="divOne">
    <p><b>Monthly Subscriptions.</b></p>
    <p>Please select the subscription that suits your needs . Currently, all accounts 
        are eligible for the FREEMIUM Plan. This means that you have one test for the 
        Inbox Placement Tester and Email Server Tester, and one monitor for Blacklist Monitoring each month. Next,
         we have a STARTER plan. For $39 per month, you will be able to run 50 tests in the Inbox Placement Tester, 50 tests in the 
         Email Server Tester, and 10 monitors in the Blacklist Monitoring.Then next plani is the PRO.
          This plan allows 500 Inbox Placement Tests, 500 EmailServer Tests, and 50 Blacklist Monitors. And finally, ENTERPRISE. This 
          plan allows for unlimited Inbox and Email Server Tests and 500 Blacklist Monitors.
    </p>
  </div>
  <p><b>To start, simply select from one of the options below, and follow the prompts</b></p>
  <div class="bottomDiv">
    <div class="packages">
        <div class="premium"> 
            <h3> <b>FREEMIUM</b>
                </h3>  
                <p>Selected subscription</p>
                <img  class="iconV" src="../../../../assets/V-icon.png" alt="">
                <p>Inbox Test (1)</p>
                <p>Email Server Test (1)</p>
                <p>Blacklist Monitor (1)</p>
                <p>Scan Frequency (hrs) (24)</p>
                <button class="activateBtn">Activate Freemium Plan</button>
        </div>
        <div class="starter">
            <h3> <b>STARTER</b>
            </h3> 
            <p>Selected subscription</p>
                <img class="iconV"  src="../../../../assets/V-icon.png" alt="">
                <p>Inbox Test (50)</p>
                <p>Email Server Test (50)</p>
                <p>Blacklist Monitor (10)</p>
                <p>Scan Frequency (hrs) (12)</p>
                <p class="price">$39.00 USD / MONTH</p>
        </div>
        <div class="pro">
            <h3> <b>PRO</b>
            </h3> 
            <p>Selected subscription</p>
                <img class="iconV" src="../../../../assets/V-icon.png" alt="">
                <p>Inbox Test (500)</p>
                <p>Email Server Test (500)</p>
                <p>Blacklist Monitor (50)</p>
                <p>Scan Frequency (hrs) (08)</p>
                <p class="price" >$249.00 USD / MONTH</p>
        </div>
        <div class="enterprise">
            <h3> <b>ENTERPRISE</b>
            </h3> 
            <p>Selected subscription</p>
                <img class="iconV" src="../../../../assets/V-icon.png" alt="">
                <p>Inbox Test unlimited</p>
                <p>Email Server Test unlimited</p>
                <p>Blacklist Monitor (500)</p>
                <p>Scan Frequency (hrs) (04)</p>
                <p class="price">$999.00 USD / MONTH</p>
        </div>
    </div>
    <p>Buy <b>Enterprise Subscription</b> for <b>$999.00 USD</b> monthly </p>
    <button class="subscribeBtn">Subscribe Now</button>
    <div class="payments">
        <img class="paypalImg" src="../../../../assets/paypal.png" alt="" />
        <img
          class="masterImg"
          src="../../../../assets/mastercard.png"
          alt=""
        />
        <img class="visaImg" src="../../../../assets/visa.png" alt="" />
        <img
          class="discoverImg"
          src="../../../../assets/discover.png"
          alt=""
        />
        <img
          class="americaImg"
          src="../../../../assets/america-express.png"
          alt=""
        />
      </div>
      <div class="desc">
        <img class="arrow" src="../../../../assets/arrow-welcome.png" alt="">
          <p>Your credit card will be charged each month 
              on today's date until cancelled
          </p>
      </div>
      <div class="desc">
        <img class="arrow" src="../../../../assets/arrow-welcome.png" alt="">
          <p>Unused credits rollover each month</p>
      </div>
  
  </div>
</div>
