.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: #656971;
    /* margin: 10px; */
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px  ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 30px;
}
.bottomDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
}
.packages{
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.premium,.starter,.pro,.enterprise{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    align-items: center;
    height: 450px;
    
}
.iconV{
    width: 60%;
}
.starter{
    background-color: #1E214E;
    box-shadow: 2px 2px 2px 2px #1E214E;
    color: white;
}
.premium,.pro,.enterprise{
color: black;
box-shadow: 2px 2px 2px 2px lightgray;
}
.activateBtn{
    margin-top: auto;
    height: 40px;
    padding: 10px;
    /* width: 200px; */
    outline: none;
    background-color: white;
    color: #1E214E;
    border: 1px solid #1E214E;
}
.price{
    margin-top: auto;
}
.payments {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
}
.payments img{
    width: 60px;
    cursor: pointer;
}
.subscribeBtn{
    height: 40px;
    padding: 10px;
    width: 170px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#5ABAEC ;
 
}
.desc{
    display: flex;
    gap: 20px;
    align-items: center;
}
.arrow{
    width: 12px;
    height: 15px;
    margin-bottom: auto;
}
@media screen and (max-width:910px) {
    .packages{
        flex-wrap: wrap;
      justify-content: center;
    }

}
@media screen and (max-width:776px) {
    .premium,.starter,.pro,.enterprise{
        
        width: 250px;}
        
}
@media screen and (max-width:670px) {
    .premium,.starter,.pro,.enterprise{
        
        width:100%;
    height: fit-content;}
    .iconV{
        width: 30%;
    }
.packages{
    gap:20px
}}
        



