<div class="middleRight">
  <p>DELIVERABILTY TOOLS > INBOX PLACEMENT TESTER</p>
</div>
<div class="mainContainer">
  <div class="firstDiv">
    <div class="divOne">
      <p>Welcome To The <b>Inbox Placement Tester.</b></p>
      <p>
        The inbox placement tester is used to check if your emails/newsletters
        will make it to your recipient's inbox. This test will allow you to send
        an email to different mailbox providers around the world and quickly
        check to see the placement of that email.
      </p>
    </div>
    <p (click)="showSteps()" style="background-color: #dfe1e8;;margin:0; padding: 10px 30px;cursor: pointer;">
      <b>Click to see the steps to perform an inbox placement test.</b>
    </p>
    <div class="divOne" *ngIf="toggled" >
      <div>
       <p> <i> 1. Enter a testing file name (this is to help you identify individual tests).</i> </p> 
       <p><i>2. Choose which mailbox providers you wish to test by selecting from the dropdown.</i></p>
       <p><i>3. Click "Create New Test".</i></p>
       <p><i>4. Copy your custom test code from the box below, and insert into the footer of your email.</i></p>
       <p><i>5. Copy the newly generated email addresses and add them to a new mailing list in your email marketing service.</i></p>
      </div>
      <p style="color: black;"><b> Please note:</b>Some mailbox providers will not deliver one-word emails, 
      so be sure to test with a natural email or newsletter. Once you create your first test, the results will appear in the table below.</p>
      
      
    </div>
  </div>
  <div class="secondDiv">
    <div class="divTwo">
        <p style="font-size: 10px">TEST NAME:</p>
        <div class="inputs">
          <input type="text" placeholder="#VAT/EIN" />
          <!-- <input type="text"> -->
          <select name="" id="">
            <option value="">Option one</option>
            <option value="">Option two</option>
            <option value="">Option three</option>
          </select>
          <button>+ CREATE NEW TEST</button>
        </div>
    
        
      </div>
      <div style="overflow-x: auto;">

        <table>
          <tr class="top">
            <th>TEST NAME</th>
            <th>TEST CODE</th>
            <th>DATE</th>
            <th>CREATED BY</th>
            <th>MESSAGE</th>
            <th>STATUS</th>
            <th>INBOX</th>
            <th>SPAM</th>
            <th>MISSING</th>
            <th>DELETE</th>
          </tr>
           <tr class="data">
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td><mat-icon>delete</mat-icon></td>
           </tr>
           <tr class="data">
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td>my data</td>
            <td><mat-icon>delete</mat-icon></td>
           </tr>


        </table>
        <!-- <div class="bottom">
          <p>--No records to display--</p>
        </div> -->
  
      </div>
      
  </div>
  <p style="color: red; font-size: 10px; padding-top: 10px">
    *All files older than 30 days will be automatically deleted
  </p>
</div>
