<div class="middleRight">
  <p>DELIVERABILTY TOOLS > INBOX PLACEMENT TESTER</p>
</div>
<div class="mainContainer">
  <div class="firstDiv">
    <div class="divOne">
      <p>Welcome To The <b>Inbox Placement Tester.</b></p>
      <p>
        The inbox placement tester is used to check if your emails/newsletters
        will make it to your recipient's inbox. This test will allow you to send
        an email to different mailbox providers around the world and quickly
        check to see the placement of that email.
      </p>
    </div>
    <p style="background-color: #dfe1e8; padding: 10px 30px">
      <b>Click to see the steps to perform an inbox placement test.</b>
    </p>
  </div>
  <div class="secondDiv">
    <div class="divTwo">
        <p style="font-size: 10px">TEST NAME:</p>
        <div class="inputs">
          <input type="text" placeholder="#VAT/EIN" />
          <!-- <input type="text"> -->
          <select name="" id="">
            <option value="">Option one</option>
            <option value="">Option two</option>
            <option value="">Option three</option>
          </select>
          <button>+ CREATE NEW TEST</button>
        </div>
    
        
      </div>
      <div>
        <div class="top">
          <p>TEST NAME</p>
          |
          <p>TEST CODE</p>
          |
          <p>TEST EMAILS</p>
          |
          <p>DATE</p>
          |
          <p>CREATED BY</p>
          |
          <p>MESSAGE</p>
          |
          <p>STATUS</p>
          |
          <p>INBOX</p>
          |
          <p>SPAM</p>
          |
          <p>MISSING</p>
          |
          <p>DELETE</p>
        </div>
        <div class="bottom">
          <p>--No records to display--</p>
        </div>
  
      </div>
      
  </div>
  <p style="color: red; font-size: 10px; padding-top: 10px">
    *All files older than 30 days will be automatically deleted
  </p>
</div>
