.mainContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: gray;
    margin: 15px;
}
.middleRight{
    background-color: #DFE1E8;
    padding: 10px;
}
.divOne{
    background-color: white;
    padding: 30px 30px 0 30px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.secondDiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;

}
.divTwo{
    display: flex;
    flex-direction: column;
    
    padding: 30px 30px 0 30px;
    /* gap: 5px; */
}
.inputs{
    display: flex;
    gap: 15px;
    align-items: center;
}
.inputs input,select{
    padding: 10px;
    outline: none;
    background-color: white;
    border-radius:5px;
    border: solid 1px lightgrey;
}
.inputs select{
    width: 200px;
}
.inputs input:placeholder{
    color: lightgray;
}
.inputs button{
    background-color: #4CA3FF;
    color: white;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.top{
    display: flex;
    justify-content: space-between;
    background-color: #eaeaeb;
    padding: 10px 20px;
    color: lightgray;
    font-weight: 400;
    

}
.bottom{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    color: lightgrey;
   
}