.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    color: gray;
    margin: 15px;
}

.middleRight {
    background-color: #DFE1E8;
    padding: 10px;
}

.divBottom {
    display: flex;
    gap: 15px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 40%;
    padding: 15px;
}

.right {
    width: 60%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black ;
    height: fit-content;
}
.priceOne,
.priceTwo,
.priceThree,
.priceFour,
.priceFive,
.priceSix,
.priceSeven,
.priceEight,
.priceNine,
.priceTen {
    display: flex;
    justify-content: space-between;
background-color: #DFE1E8;
padding: 10px;
align-items: center;
cursor: pointer;}
.left img,.arrow{
        width: 15px;
    height: 15px;
    
}
.priceOne:hover,
.priceTwo:hover,
.priceThree:hover,
.priceFour:hover,
.priceFive:hover,
.priceSix:hover,
.priceSeven:hover,
.priceEight:hover,
.priceNine:hover,
.priceTen:hover{
    background-color: #1E214E;
    color: white;
}
.payments {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 40px;
}
.payments img{
    width: 60px;
}
.subscribe{
    height: 40px;
    padding: 10px;
    width: 170px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#5ABAEC ;
 
}
.desc{
    display: flex;
    gap: 20px;
    align-items: center;
}
@media screen  and (max-width:946px){
    .left,.right{
        width: 50%;
    }
    .package {
        
        width: 100%;}
    
}
@media screen  and (max-width:872px){

    .divBottom {
    flex-direction: column;
}
.left,.right{
    width: 100%;
}
.right,.left{
    /* border: solid 2px red; */
    padding: 10px;
    
}
}