<div class="middleRight">
  <p>BUY CREDITS > SUBSCRIPTIONS</p>
</div>
<div class="mainContainer">
  <p> <b>Monthly Subscriptions</b></p>
  <div class="divBottom">
    <div class="left">
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        <div class="priceOne"></div>
        

    </div>
    <div class="right">
        
    </div>
  </div>
</div>
