<div class="middleRight">
  <p>BUY CREDITS > SUBSCRIPTIONS</p>
</div>
<div class="mainContainer">
  <p><b>Monthly Subscriptions</b></p>
  <div class="divBottom">
    <div class="left">
      <div class="priceOne" (click)="makePayment(15)">
        <p>2,000 for $15.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceTwo" (click)="makePayment(56)">
        <p>8,000 for $56.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceThree" (click)="makePayment(96)">
        <p>15,000 for $96.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceFour" (click)="makePayment(150)">
        <p>25,000 for $150.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceFive" (click)="makePayment(278)">
        <p>50,000 for $278.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceSix" (click)="makePayment(373)">
        <p>80,000 for $373.60</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceSeven" (click)="makePayment(385)">
        <p>100,000 for $385.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceEight" (click)="makePayment(574)">
        <p>200,000 for $574.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceNine" (click)="makePayment(750)">
        <p>300,000 for $750.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
      <div class="priceTen" (click)="makePayment(1000)">
        <p>500,000 for $1,000.00</p>
        <img src="../../../../assets/arrow-right.png" alt="" />
      </div>
    </div>
    <div class="right">
      <p>OR ENTER THE AMOUNT OF EMAILS YOU WANT TO VALIDATE BELOW:</p>
      <div>
        <p style="font-size:10px ;">ENTER AMOUNT</p>
        <input type="number" placeholder="1000000" />
      </div>
      <p>Buy <b>500,000</b> credits for <b>$1,000.00 </b></p>
     
        
          <button class="subscribe">Subscribe Now</button>
          
        
        <div class="payments">
          <img class="paypalImg" src="../../../../assets/paypal.png" alt="" />
          <img
            class="masterImg"
            src="../../../../assets/mastercard.png"
            alt=""
          />
          <img class="visaImg" src="../../../../assets/visa.png" alt="" />
          <img
            class="discoverImg"
            src="../../../../assets/discover.png"
            alt=""
          />
          <img
            class="americaImg"
            src="../../../../assets/america-express.png"
            alt=""
          />
        </div>
        <div class="desc">
            <img class="arrow"  src="../../../../assets/arrow-right.png" alt="">
            <p>Your credit card will be charged each month 
                on today's date until cancelled
            </p>
        </div>
        <div class="desc">
            <img  class="arrow"src="../../../../assets/arrow-right.png" alt="">
            <p>Unused credits rollover each month</p>
        </div>
      </div>
    </div>
  </div>

