<div class="mainDiv">
  <div class="content">
    <div class="leftDiv">
      <div class="divOne">
        <div class="logo">
          <img src="../../../../assets//logo.png" alt="">
        </div>
        <div class="homeIcon">
          <mat-icon class="homeIc" fontSet="material-icons-outlined" routerLink="/home">home</mat-icon>
        </div>
      </div>
      <div class="divTwo">
        <div class="details" routerLink="/auth/register">Personal Details</div>
        <div class="account" routerLink="/auth/details">
          Included with your free account
        </div>
      </div>
      <div class="divThree">
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>100 Free Credits Every Month</p>
        </div>
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>Email Provider Integrations</p>
        </div>
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>Real-Time Results</p>
        </div>
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>Full API Access withSandbox</p>
        </div>
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>24/7 Support by Phone,Email & Chat</p>
        </div>
        <div class="freeDetails">
            <img src="../../../../assets/tick.png" alt="">
            <p>Access To Our Delivarability Toolkit</p>
        </div>
      </div>
    </div>
    <div class="rightDiv">
        <!-- image goes here -->
        <img src="../../../../assets/login.png" alt="">

    </div>
  </div>
</div>
