<div class="mainDiv">
  <div class="content">
    <div class="leftDiv">
      <div class="divOne">
        <div class="logo">
          <!-- logo image goes here -->
          <p>VERIFIEDINBOX</p>
        </div>
        <div class="homeIcon">
          <!-- home icon goes here -->
          <p>home</p>
        </div>
      </div>
      <div class="divTwo">
        <div class="details" routerLink="/auth/register">Personal Details</div>
        <div class="account" routerLink="/auth/details">
          Included with your free account
        </div>
      </div>
      <div class="divThree">
        <div class="freeDetails">
            <p>check</p>
            <p>100 Free Credits Every Month</p>
        </div>
        <div class="freeDetails">
            <p>check</p>
            <p>Email Provider Integrations</p>
        </div>
        <div class="freeDetails">
            <p>check</p>
            <p>Real-Time Results</p>
        </div>
        <div class="freeDetails">
            <p>check</p>
            <p>Full API Access withSandbox</p>
        </div>
        <div class="freeDetails">
            <p>check</p>
            <p>24/7 Support by Phone,Email & Chat</p>
        </div>
        <div class="freeDetails">
            <p>check</p>
            <p>Access To Our Delivarability Toolkit</p>
        </div>
      </div>
    </div>
    <div class="rightDiv">
        <!-- image goes here -->

    </div>
  </div>
</div>
